body {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern {
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    background-color: blue;
    border: none;
    transition: 0.4s;
}

.btn-modern:hover {
    transform: translateY(-5px);
    box-shadow: 10px 5px 5px blue;
    background-color: aqua;
    color: black;
}