
#elemento-1{
    color: red;
}
ul #elemento-1{
    font-size: 2rem;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
}
.gallery img{
    width: 300px;
    height: 150px;
    border: blue 1px solid;
    border-radius: 5px;
    box-shadow: 3px 3px;
    margin: 5px;
}
#boton1{
    width: 300px;
    height: auto;
    border-radius: 3px;
}
#boton1::before{
    content: "Pasa el raton por encima!";
}
.changeButton:hover{
    background-color: green;
    color: white;

}
#boton1:hover::before{
    content: "Hecho!";
}
